C 0 0 "VOUTB" 0 0 0 0 60 0 L
X "PIN_TEXT" "VOUTB" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VOUTBSET1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VOUTBSET1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VOUTBSET2" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VOUTBSET2" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NC_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "ISET" 0 -400 0 0 60 0 L
X "PIN_TEXT" "ISET" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SHPACT" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SHPACT" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 400 -1300 "MODE" 400 -1300 0 0 60 0 L
X "PIN_TEXT" "MODE" 430 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1100 400 -1300 -1 0
C 500 -1300 "CHG" 500 -1300 0 0 60 0 L
X "PIN_TEXT" "CHG" 530 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1100 500 -1300 -1 0
C 600 -1300 "VTERMSET" 600 -1300 0 0 60 0 L
X "PIN_TEXT" "VTERMSET" 630 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1100 600 -1300 -1 0
C 700 -1300 "ERR" 700 -1300 0 0 60 0 L
X "PIN_TEXT" "ERR" 730 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1100 700 -1300 -1 0
C 800 -1300 "SHPHLD" 800 -1300 0 0 60 0 L
X "PIN_TEXT" "SHPHLD" 830 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1100 800 -1300 -1 0
C 900 -1300 "ICHG" 900 -1300 0 0 60 0 L
X "PIN_TEXT" "ICHG" 930 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1100 900 -1300 -1 0
C 1400 0 "NC_3" 1400 0 0 0 60 0 R
X "PIN_TEXT" "NC_3" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "VBUS" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "VBUS" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "VSYS" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "VSYS" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "VBAT" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "VBAT" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "NTC" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "NTC" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "NC_2" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "NC_2" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 400 600 "EP" 400 600 0 0 60 0 R
X "PIN_TEXT" "EP" 430 370 90 0.00 60 0 0 2 0 0 1 0 74
L 400 400 400 600 -1 0
C 500 600 "NC_4" 500 600 0 0 60 0 R
X "PIN_TEXT" "NC_4" 530 370 90 0.00 60 0 0 2 0 0 1 0 74
L 500 400 500 600 -1 0
C 600 600 "PVSS" 600 600 0 0 60 0 R
X "PIN_TEXT" "PVSS" 630 370 90 0.00 60 0 0 2 0 0 1 0 74
L 600 400 600 600 -1 0
C 700 600 "SW" 700 600 0 0 60 0 R
X "PIN_TEXT" "SW" 730 370 90 0.00 60 0 0 2 0 0 1 0 74
L 700 400 700 600 -1 0
C 800 600 "DEC" 800 600 0 0 60 0 R
X "PIN_TEXT" "DEC" 830 370 90 0.00 60 0 0 2 0 0 1 0 74
L 800 400 800 600 -1 0
C 900 600 "D+" 900 600 0 0 60 0 R
X "PIN_TEXT" "D+" 930 370 90 0.00 60 0 0 2 0 0 1 0 74
L 900 400 900 600 -1 0
C 1000 600 "D-" 1000 600 0 0 60 0 R
X "PIN_TEXT" "D-" 1030 370 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 400 1000 600 -1 0
L 200 400 1200 400 -1 0
L 1200 -1100 1200 400 -1 0
L 1200 -1100 200 -1100 -1 0
L 200 400 200 -1100 -1 0
P "$LOCATION" "?" 1250 570 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

