C 0 0 "VDD_IO" 0 0 0 0 60 0 L
X "PIN_TEXT" "VDD_IO" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "TAD2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "TAD2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VDD_D" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VDD_D" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "XTO" 0 -300 0 0 60 0 L
X "PIN_TEXT" "XTO" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "XTI" 0 -400 0 0 60 0 L
X "PIN_TEXT" "XTI" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "GND_D" 0 -500 0 0 60 0 L
X "PIN_TEXT" "GND_D" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "VDD_A" 0 -600 0 0 60 0 L
X "PIN_TEXT" "VDD_A" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VDD" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 300 -1500 "VDD_RF" 300 -1500 0 0 60 0 L
X "PIN_TEXT" "VDD_RF" 330 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1300 300 -1500 -1 0
C 400 -1500 "VDD_TX" 400 -1500 0 0 60 0 L
X "PIN_TEXT" "VDD_TX" 430 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1300 400 -1500 -1 0
C 500 -1500 "VDD_AM" 500 -1500 0 0 60 0 L
X "PIN_TEXT" "VDD_AM" 530 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1300 500 -1500 -1 0
C 600 -1500 "GND_DR1" 600 -1500 0 0 60 0 L
X "PIN_TEXT" "GND_DR1" 630 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1300 600 -1500 -1 0
C 700 -1500 "RFO1" 700 -1500 0 0 60 0 L
X "PIN_TEXT" "RFO1" 730 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1300 700 -1500 -1 0
C 800 -1500 "VDD_DR" 800 -1500 0 0 60 0 L
X "PIN_TEXT" "VDD_DR" 830 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1300 800 -1500 -1 0
C 900 -1500 "RFO2" 900 -1500 0 0 60 0 L
X "PIN_TEXT" "RFO2" 930 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1300 900 -1500 -1 0
C 1000 -1500 "GND_DR2" 1000 -1500 0 0 60 0 L
X "PIN_TEXT" "GND_DR2" 1030 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1300 1000 -1500 -1 0
C 1400 0 "AGDC" 1400 0 0 0 60 0 R
X "PIN_TEXT" "AGDC" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "RFI2" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "RFI2" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "RFI1" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "RFI1" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "VSS" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "VSS" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "I2C_EN" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "I2C_EN" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "AAT_B" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "AAT_B" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 1400 -600 "AAT_A" 1400 -600 0 0 60 0 R
X "PIN_TEXT" "AAT_A" 1170 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -600 1400 -600 -1 0
C 1400 -700 "EXT_LM" 1400 -700 0 0 60 0 R
X "PIN_TEXT" "EXT_LM" 1170 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -700 1400 -700 -1 0
C 300 800 "GND" 300 800 0 0 60 0 R
X "PIN_TEXT" "GND" 330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 300 600 300 800 -1 0
C 400 800 "MISO/SDA" 400 800 0 0 60 0 R
X "PIN_TEXT" "MISO/SDA" 430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 400 600 400 800 -1 0
C 500 800 "MOSI" 500 800 0 0 60 0 R
X "PIN_TEXT" "MOSI" 530 570 90 0.00 60 0 0 2 0 0 1 0 74
L 500 600 500 800 -1 0
C 600 800 "SCLK/SCL" 600 800 0 0 60 0 R
X "PIN_TEXT" "SCLK/SCL" 630 570 90 0.00 60 0 0 2 0 0 1 0 74
L 600 600 600 800 -1 0
C 700 800 "BSS" 700 800 0 0 60 0 R
X "PIN_TEXT" "BSS" 730 570 90 0.00 60 0 0 2 0 0 1 0 74
L 700 600 700 800 -1 0
C 800 800 "MCU_CLK" 800 800 0 0 60 0 R
X "PIN_TEXT" "MCU_CLK" 830 570 90 0.00 60 0 0 2 0 0 1 0 74
L 800 600 800 800 -1 0
C 900 800 "IRQ" 900 800 0 0 60 0 R
X "PIN_TEXT" "IRQ" 930 570 90 0.00 60 0 0 2 0 0 1 0 74
L 900 600 900 800 -1 0
C 1000 800 "GND_A" 1000 800 0 0 60 0 R
X "PIN_TEXT" "GND_A" 1030 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 600 1000 800 -1 0
C 1100 800 "TAD1" 1100 800 0 0 60 0 R
X "PIN_TEXT" "TAD1" 1130 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 600 1100 800 -1 0
L 200 600 1200 600 -1 0
L 1200 -1300 1200 600 -1 0
L 1200 -1300 200 -1300 -1 0
L 200 600 200 -1300 -1 0
P "$LOCATION" "?" 1250 770 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

